/*reset do css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Verdana;
    height: 100vh;
  }


                                    /***HOME***/

                      /*------------- menu topo -----------*/
.menu_home {
  margin: auto;
}
    .menu_home div {
      height: 80px;
      display: block;
      font-size: 40px;
      float: left;
      background-color: #080E33;
      border: 50px;
      border-bottom: 10px solid #192DA1;
    }
    .menu_home h1 {
      font-family: 'Chelsea Market', cursive;
      font-size: 45px;
      color: white;
      padding: 10px;
      margin-left: 50px;
    }

    .menu_home ul {
      height: 80px;
      list-style-type: none;
      margin: auto;
      padding: 0;
      overflow: hidden;
      background-color: #080E33;
      border: 50px;
      border-bottom: 10px solid #192DA1;
    }
    .menu_home li {
      font-size: 35px;
      float: right;
    }
    .menu_home a {
    display: block;
    margin: 0 auto;
    color: #BDBFBF;
    padding: 16px;
    text-decoration: none;
    text-align:center;
    }
    .menu_home a:hover {
    background-color: #192DA1;
    color: #023802;
    font-family: 'Satisfy', cursive;
   } 

                                    /*------------- body -----------*/

#body_home {
  background-color: #8FBDD9;
}

.titulo_home {
    color: #111E6C;
    font-family: 'Piedra', cursive;
    font-size: 80px;
    padding-top: 40px;
    text-align: center;
}

.texto_home {
  margin: 5%;
  border-spacing: 2px;
  border-radius: 60px;
  background-color: #4CB1F7;
  padding-left: 10px;  
  font-size: 30px;
  font-family: 'Chelsea Market', cursive;
  color: #193446;
  padding: 20px;
  text-align: center;
}

#divisao {
  background-color: #193446;
  color: #193446;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 47px;
  padding: 10px;
}
.skills h2 {
  font-family: 'Chelsea Market', cursive;
  font-size: 65px;
  color: #00007D;
  padding: 10px;
  text-align: center;
  margin: 50px;
}

#frase1 {
  display: flex;
  height: 130px;
}
  #frase1 i {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 100px;
    color: black;
  }
  #frase1 i:hover {
    color: #020659;
  }

 #frase1 p {
    color: #020659;
    padding: 23px;
    font-size: 20px;
    text-align: center;
  }
 #frase1 p:hover {
    color: black;
 }

 #frase2 {
  display: flex;
  height: 130px;
}
  #frase2 h1 {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 95px;
    color: black;
  }
  #frase2 h1:hover {
    color: #020659;
  }

 #frase2 p {
    color: #020659;
    padding: 26px;
    font-size: 20px;
    text-align: center;
  }
 #frase2 p:hover {
    color: black;
 }

#frase3 {
  display: flex;
  height: 130px;
}
  #frase3 i {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 100px;
    color: black;
  }
  #frase3 i:hover {
    color: #020659;
  }

 #frase3 p {
    color: #020659;
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
 #frase3 p:hover {
    color: black;
 }
 #frase4 {
  display: flex;
  height: 130px;
}
  #frase4 span {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 115px;
    color: black;
    margin-top: 2px;
  }
  #frase4 span:hover {
    color: #020659;
  }

 #frase4 p {
    color: #020659;
    padding: 26px;
    font-size: 20px;
    text-align: center;
  }
 #frase4 p:hover {
    color: black;
 }

                                  /*** PROJETOS ***/
                    /*------------- menu projetos -----------*/

.menu_projetos {
  margin: auto;
}
    .menu_projetos div {
      height: 80px;
      display: block;
      font-size: 40px;
      float: left;
      background-color: #380400;
      border: 50px;
      border-bottom: 10px solid #B80C00;
    }
    .menu_projetos h1 {
      font-family: 'Chelsea Market', cursive;
      font-size: 45px;
      color: white;
      padding: 10px;
      margin-left: 50px;
    }

    .menu_projetos ul {
      height: 80px;
      list-style-type: none;
      margin: auto;
      padding: 0;
      overflow: hidden;
      background-color: #380400;
      border: 50px;
      border-bottom: 10px solid #B80C00;
    }
    .menu_projetos li {
      font-size: 35px;
      float: right;
    }
    .menu_projetos a {
    display: block;
    margin: 0 auto;
    color: #BDBFBF;
    padding: 16px;
    text-decoration: none;
    text-align:center;
    }
    
    .menu_projetos a:hover {
    background-color: #B80C00;
    color: #829FD9;
    font-family: 'Satisfy', cursive;
   }

   #body_projetos {
    background-color: #FF9FB1;
   }

.titulo_projetos {
    color: #260107;
    font-family: 'Piedra', cursive;
    font-size: 90px;
    padding-top: 40px;
    text-align: center;
    margin: 40px;
    margin-bottom: 60px;
}
.botoes {
  height: 150px;
}

.button_fotos {
  background-color: #7D0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  margin-left: 30%;
}
.button_diversas {
  background-color: #7D0000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  margin-right: 30%;
}
.button_topo {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 42%;
}

#leia {
  display: block;
  height: 25%;
  background-color: #CD2C31;
  margin: 40px;
}
#leia h1 {
  font-family: 'Chelsea Market', cursive; 
  color: yellow;
  font-size: 30px;
  text-align: center;
}
#leia h2 {
  color: #CD2C31;
}
#leia  h2:hover{
  color: yellow;
  font-size: 30px;
  text-align: center;
}

#divisao2 {
  background-color: #B80C00;
  color: #B80C00;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 55px;
  padding: 10px;
}

#titulo_1 {
  font-family: 'Chelsea Market', cursive; 
  color: #262626;
  font-size: 80px;
  text-align: center;
  margin: 40px;
}
#video1 {
  background-color: #8C0303;
  height: 400px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#video1 div {
  height: 300px;
  width: 600px;
  margin: 25px;
  padding: 10px;
  float: left;
}
#video1 p {
  margin: 20px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 50px;
}

#foto1 {
  background-color: #D21E0F;
  height: 400px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto1 img {
  height: 350px;
  margin: 25px;
  border-radius: 40px;
  float: left;
}

#foto1 p {
  margin: 25px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 100px;
}

#video2 {
  background-color: #8C0303;
  height: 400px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#video2 div {
  height: 350px;
  margin: 25px;
  float: left;
}
#video2 p {
  margin: 25px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 110px;
}

#foto2 {
  background-color: #D21E0F;
  height: 400px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto2 img {
  height: 350px;
  margin: 25px;
  border-radius: 40px;
  float: left;
}

#foto2 p {
  margin: 25px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 45px;
}
#titulo_2 {
  font-family: 'Chelsea Market', cursive; 
  color: #262626;
  font-size: 80px;
  text-align: center;
  margin: 60px;
}

#foto3 {
  background-color: #8C0303;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto3 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto3 p {
  margin: 25px;
  font-size: 35px;
  text-align: center;
  float: right;
  color: white;
  padding: 90px;
}

#foto4 {
  background-color: #D21E0F;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto4 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto4 p {
  margin: 25px;
  font-size: 35px;
  text-align: center;
  float: right;
  color: white;
  padding: 90px;
}

#foto5 {
  background-color: #8C0303;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto5 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto5 p {
  margin: 25px;
  font-size: 35px;
  text-align: center;
  float: right;
  color: white;
  padding: 90px;
}

#foto6 {
  background-color: #D21E0F;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto6 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto6 p {
  margin: 25px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 90px;
}
#foto7 {
  background-color: #8C0303;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto7 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto7 p {
  margin: 25px;
  font-size: 35px;
  text-align: center;
  float: right;
  color: white;
  padding: 90px;
}
#foto8 {
  background-color: #D21E0F;
  height: 450px;
  border-radius: 30px;
  margin: 20px;
  display: flex;
}
#foto8 img {
  height: 400px;
  margin: 25px;
  border-radius: 40px;
  float: left;
  margin-left: 40px;
}

#foto8 p {
  margin: 25px;
  font-size: 30px;
  text-align: center;
  float: right;
  color: white;
  padding: 80px;
}

                                    /***SOBRE***/

                      /*------------- menu sobre -----------*/
.menu_sobre {
  margin: auto;
}
    .menu_sobre div {
      height: 80px;
      display: block;
      font-size: 40px;
      float: left;
      background-color: #1D0033;
      border: 50px;
      border-bottom: 10px solid #490080;
    }
    .menu_sobre h1 {
      font-family: 'Chelsea Market', cursive;
      font-size: 45px;
      color: white;
      padding: 10px;
      margin-left: 50px;
    }

    .menu_sobre ul {
      height: 80px;
      list-style-type: none;
      margin: auto;
      padding: 0;
      overflow: hidden;
      background-color: #1D0033;
      border: 50px;
      border-bottom: 10px solid #490080;
    }
    .menu_sobre li {
      font-size: 35px;
      float: right;
    }
    .menu_sobre a {
    display: block;
    margin: 0 auto;
    color: #BDBFBF;
    padding: 16px;
    text-decoration: none;
    text-align:center;
    }
    
    .menu_sobre a:hover {
    background-color: #490080;
    color: #829FD9;
    font-family: 'Satisfy', cursive;
   } 


                      /*------------- body -----------*/
  #body_sobre {
    background-color: #D697FF;
  }

  .titulo_sobre {
    background-color: #D697FF;
    color: #230A59;
    font-family: 'Piedra', cursive;
    font-size: 80px;
    padding-top: 40px;
    text-align: center;
  }


  .apresentacao {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .apresentacao div {
    display: flex;
  }

  .apresentacao img {
    margin: 8px;
    border-style: outset;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding: 15px;
  }

  .apresentacao section {
    margin-left: 5px;
    background-color: #B84BFF;
    height: 400px;
    display: grid;
    padding: 30px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-color: gray;
    border-right: none;
    border-width: 10px;
  }

  .apresentacao p {
    display: block;
    padding: 32px;
    text-align: right;
    font-size: 45px;
    font-family: 'Indie Flower', cursive;
  }

  #infos h3 {
    font-family: 'Architects Daughter', cursive;
    margin: 30px;
    text-align: center;
    font-size: 50px;
  }
  #infos p {
    font-family: 'Abril Fatface', cursive;
    margin: 100px;
    text-align: center;
    font-size: 35px;
  }


                  /*serve para todas as pag*/

#rodape {
  display: block;
  background-color: #262626;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 32px;
  margin-top: 15px;
}
#contatos {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -2%; 
}
#contatos a {
  margin-top: 40px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 75px;
  color: white;
}
#contatos a:hover {
  color: black;
  }

